<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FileCloud</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand hyperlink-fc">FileCloud</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>

        <div class="navbar-text">
            <a role="button" class="btn btn-primary" href="/file_cloud">Back to FileCloud main dashboard</a>

            <a role="button" class="btn btn-primary" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Admin panel</h2>
            <h3>Logged as <span th:text="${loggedAdminUsername}"></span> administrator</h3>
            <p>You can retrieve all users info here</p>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password hash</th>
                    <th>Roles</th>
                    <th>Files</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>

                    <td th:if="${!user.roles.isEmpty()}" th:each="role : ${user.roles}">
                        <div th:each="role : ${user.roles}">
                            <span th:text="${role.role}"></span>
                        </div>
                    </td>
                    <td th:if="${user.roles.isEmpty()}">
                        ----
                    </td>

                    <td th:if="${!user.files.isEmpty()}">
                        <div th:each="file : ${user.files}">
                            <b>Name: </b>
                            <span th:text="${file.name}"></span>

                            <br />
                            <b>Type: </b>
                            <span th:text="${file.type}"></span>

                            <br />
                        </div>
                    </td>
                    <td th:if="${user.files.isEmpty()}">
                        ----
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a class="hyperlink-fc">Powered by gjm, &copy 2018.</a>
</nav>

<script src="/dist_js/bundle.js"></script>
</body>
</html>
